SECRET_KEY=کلید-محرمانه-فعلی-خودت

DEBUG=True
ALLOWED_HOSTS=127.0.0.1 localhost
DATABASE_URL=postgresql://saberblogdb_s5il_user:duWYFaFGejE4pslj8A5lsS3NPZUwz8lR@dpg-da996t942hec73f5icf0-a.frankfurt-postgres.render.com/saberblog_db
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000 http://localhost:8000

