{% extends '_base.html' %}

{% block page_Title %}
    Post List
{% endblock page_Title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for pst in postslist %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ pst.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">By:{{ pst.author }}</h6>
                            <p class="card-text py-3">
                                {{ pst.text }}
                            </p>
                            <div class="btn btn-sm btn-success">Read More</div>
                            {#                        <a href=" {% url 'blog_detail' post.id %}" class="btn btn-sm btn-SUCCESS">#}
                            Read More</a>
                        </div>
                    </div>
                    </div>

                {% endfor %}

            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">

                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">

                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}
